$mobile: 'max-width: 390px'; //Small devices (phones)
$tablet: 'max-width: 810px'; //Medium devices (tablets)
$desktop: 'max-width: 1240px'; //Large devices (desktops)
$extra-large: 'min-width: 1241px'; //Extra large devices (large desktops)