.SwitchField {
  padding-top: 3rem;

  .MuiPaper-root {
    background: #e9effd;
    box-shadow: unset;
  }
  .MuiAccordionSummary-content {
    margin: 0;
    padding: 2rem 1rem;
    align-items: center;
  }
  .MuiAccordionSummary-content
    .Mui-expanded
    .MuiAccordionSummary-contentGutters {
    padding: 1rem 1rem;
    margin: 0;
  }
  .css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
    margin: 0;
    padding: 1rem 1rem;
  }
  .MuiTypography-root {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .MuiCollapse-wrapper {
    padding: 2rem 0rem;
    border-top: 0.1rem solid #e0e2e8;
  }

  .MuiAccordionDetails-root {
    padding: 0rem;
  }
}
