@use '../../styles/partials/variables' as *;

.Header {
  width: 100%;

  .header-wrapper {
    display: flex;
    height: 17.3rem;
    flex-direction: column;
    gap: 4rem;
    padding-top: 2rem;
    justify-content: space-between;

    @media screen and (#{$tablet-down}) {
      height: 40.1rem;
    }

    .button-wrapper {
      display: flex;
      justify-content: flex-end;

      @media screen and (#{$tablet-down}) {
        padding: 0 2rem 0 0;
      }
    }
    .header-content-wrapper {
      border: 0.1rem solid $borderColor;
      border-radius: 0.5rem;

      @media screen and (#{$tablet-down}) {
        flex-direction: column;
        align-items: flex-start;
      }
      .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.1rem 3.3rem;
        background: #fff;

        @media screen and (#{$tablet-down}) {
          flex-direction: column;
          align-items: flex-start;
          gap: 4rem;
        }

        .header-title {
          figure {
            figcaption {
              font-size: 1.3rem;
              font-weight: 700;
              color: #696e7c;
            }
            h1 {
              font-family: 'Lato';
              font-weight: 300;
            }
            div {
              display: flex;
              align-items: center;
              gap: 1rem;
            }
          }
        }

        .header-status {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 13.135rem;
          height: 4.8rem;
          color: #222222;
          font-size: 1.8rem;
          font-family: 'Lato', sans-serif;

          .status-label {
            height: 1.6rem;
            font-size: 1.3rem;
            font-weight: 400;
          }
          .status-content {
            display: flex;
            gap: 1rem;
            font-weight: 700;
          }

          @media screen and (#{$tablet-up}) {
            align-items: flex-end;
          }
        }
      }
    }
  }
}
