:root {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #f7f8fa;
  min-width: 39rem;
}

h1 {
  margin: 0;
  font-size: 3.2rem;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 1.3rem;
}
